<div class="family-container log-in">
<h2>Register your child in your Family</h2>

<%= simple_form_for @child do |f| %>
  <%= f.input :name %>
  <%= f.input :gender %>
  <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:day, :month, :year] %>
  <%= f.input :child_comment, input_html: { maxlength: 255 } %>
  <%= f.input :child_photo, as: :file %>
  <%= f.submit 'Save and register another child'  %>
  <%= f.submit 'Save and checkout'  %>
<% end %>
</div>
