<div class='page-container'>
  <div class='header-banner'>
    <h1>Browse families</h1>
  </div>
<div class="mt-2 mb-2"style="display:flex; justify-content:center;">
  <%= form_with url: families_path, method: :get, class: "d-flex" do%>
  <%= text_field_tag :query, params[:query], style: "width:69vw;border-radius:15px;background-color:#1B1B1B;border-color:#D9D9D6;", class: "placeholder-grey rounded form-control", placeholder: "Type a keyword" %>
  <%= submit_tag "Search", name:"" %>
  <% end %>
  </div>
  <div class="index-list">
  <% if @families.any? %>
    <% @families.each do |user| %>
      <%= link_to family_path(user), class: "family-card" do %>
          <h3>
            <%= user.family_name %>
          </h3>
          <h4>
            <%= user.home_address %>
          </h4>
          <%#= cl_image_tag user.photo.key, height: 160, crop: :fill %>
           <i style="border:1px solid black;border-radius:15px;"class="p-2 fa-solid fa-arrow-right"></i>
      <% end %>
    <% end %>
  <% else %>
  </div>
  <div style="text-align:center!important;">
    <p class="no-matches">🤓<br> Sorry, nothing matches your search.</p>
    </div>
  <% end %>

</div>
