<div class='page-container'>
  <div class='header-banner'>
    <h1>Browse families</h1>
  </div>
 <div class="home-form" data-controller="search">
    <%= form_with url: families_path, method: :get do |f| %>
        <%= f.select :activity, [['Babysitting'],['Pick up at school']] %>
        <%= f.text_field :location, placeholder: "Enter your address" %>
        <%= f.text_field :date, placeholder: "Pick a date & time",
            data: {
            controller: "datepicker"}
        %>
      <%= f.submit value: "Search" %>
    <% end %>
    <%# <button class="button-primary">Search</button> %>
  </div>
  <div class="families-container">
    <%# <div class="family-index-left-pane col-lg-3">
      <h2>Refine Search</h2>
      <div class="criteria-checkboxes">
        <label><input type="checkbox" name="criteria1"> Criteria 1</label>
        <label><input type="checkbox" name="criteria2"> Criteria 2</label>
        <label><input type="checkbox" name="criteria3"> Criteria 3</label>
        <label><input type="checkbox" name="criteria3"> Criteria 4</label>
      </div>
    </div> %>
    <div class="family-cards-container col-lg-9">
      <% if @families.any? %>
        <% @families.each do |family| %>
        <div class="family-card">
          <%= link_to family_path(family, date: params[:date], activity: params[:activity]) do %>
          <div class="family-card-content">
            <%= cl_image_tag family.family_photo.key, height: 300, width: 400, crop: :fill %>
            <div class="family-card-info-container">
              <h3><%= family.family_name %></h3>
              <h5><%= family.children.count %></h5>
            </div>
          </div>
        </div>
          <% end %>
          <% end %>
        </div>
        <% else %>
          <div style="text-align:center!important;">
          <p class="no-matches">🤓<br> Sorry, nothing matches your search.</p>
          </div>
      <% end %>
  </div>
</div>
