<div class="family-showpage-container">
  <div class="family-showpage-hz-container">
    <div class="family-showpage-photo-card">
      <%= cl_image_tag @family.family_photo.key %>
        <div class="family-showpage-name">
          <h1><%= @family.family_name %></h1>
        </div>
    </div>
    <div class="family-showpage-info-card">
      <h2>Welcome!</h2>
      <div class="family-showpage-description">
        <p><%= @family.presentation %></p>
      </div>
      <div class="family-showpage-children-container">
        <% @family_children.each do |child| %>
          <% if child.child_photo.present? %>
            <div class="family-showpage-child-mini">
              <%= cl_image_tag child.child_photo.key, class: "avatar" %>
              <h5><%= child.name.capitalize %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= simple_form_for @booking do |f| %>
          <%= f.hidden_field :date, value: params[:date] %>
          <%= f.hidden_field :activity, value: params[:activity] %>
          <%= f.hidden_field :welcome_family_id, value: params[:id] %>
          <%= f.submit "Send them a request !", id: "createRequestButton", class: 'submit-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--------------- Modal Structure ----- :-)x==> ------>
<div id="requestModal" class="modal">
  <div id="modal-content-request">
    <span class="close-button">&times;</span>
      <div class="request-textarea">
        <h1 id="title-request-confirm">Confirm your request</h1>
      </div>
      <div class="request-form">
        <div class="request-infos">
          <h2><strong>Request for:  </strong> <%= @family.family_name %> family</h2>
          <h2><strong>Activity type:  </strong> <%= @activity  %></h2>
          <h2><strong>Date:  </strong> <%= @date %></h2>
          <%= simple_form_for @booking do |f| %>
            <%= f.hidden_field :start_date, value: params[:date] %>
            <%= f.hidden_field :category, value: params[:activity] %>
            <%= f.hidden_field :welcome_family_id, value: params[:id] %>
            <%= f.input :description, as: :text, label: "Add a comment" %>
            <%= f.association :children, as: :check_boxes, collection: @children, required: true %>
            <%= f.submit "Confirm your request", class: 'submit-button' %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("requestModal");

  // Get the button that opens the modal
  var btn = document.getElementById("createRequestButton");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close-button")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function(event) {
    event.preventDefault();
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
