<div class="family-container">
  <div class="family-container-photo-title">
    <p class="family-p">Family</p>
    <h1 class="show-family-title"><%= @family.family_name %></h1>
    <div class="img-container">
      <%= cl_image_tag @family.family_photo.key %>
    </div>
    <h3>Children</h3>
    <% @family_children.each do |child| %>
      <%= cl_image_tag child.child_photo.key, width: 100, height: 100, crop: :fill, radius: "max", fetch_format: "auto" %>
      <p class="child-name"><%= child.name %></p>
    <% end %>
    <hr>
  </div>
  <div class="family-container-text-button">
    <div class="family-description">
      <p>In the heart of a cozy home, laughter dances through the air like confetti as the Smith family gathers around the dinner table. Parents, John and Emily, share warm smiles as they recount tales of their day, their love evident in the gentle touches and shared glances exchanged between them. Their children, Sarah and David, playfully banter, their bond woven tight with shared secrets and unspoken understanding. In this haven of love and acceptance, every hug is a sanctuary, every shared meal a celebration, and every bedtime story a cherished tradition. Together, they weather life's storms with unwavering support and emerge stronger, their love a beacon of warmth in a world of uncertainty</p>
    </div>
    <div>
      <%= simple_form_for @booking do |f| %>
        <%= f.hidden_field :date, value: params[:date] %>
        <%= f.hidden_field :activity, value: params[:activity] %>
        <%= f.hidden_field :welcome_family_id, value: params[:id] %>
        <%= f.submit "Create your request", id: "createRequestButton", class: 'submit-button' %>
      <% end %>
    </div>
  </div>
</div>

<!--------------- Modal Structure ----- :-)x==> ------>
<div id="requestModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
      <div class="request-textarea">
        <h1>Confirm your request</h1>
      </div>
      <div class="request-form">
        <div class="request-infos">
          <h2><strong>Request for:  </strong> <%= @family.family_name %> family</h2>
          <h2><strong>Activity type:  </strong> <%= @activity  %></h2>
          <h2><strong>Date:  </strong> <%= @date %></h2>
          <%= simple_form_for @booking do |f| %>
            <%= f.input :description, as: :text %>
            <%= f.association :children, as: :check_boxes, collection: @children, required: true %>
            <%= f.submit "Confirm your request", class: 'submit-button' %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("requestModal");

  // Get the button that opens the modal
  var btn = document.getElementById("createRequestButton");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close-button")[0];

  // When the user clicks on the button, open the modal
  btn.onclick = function(event) {
    event.preventDefault();
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
