<div class="request-container">
  <div class="request-textarea">
    <h1>Confirm your request</h1>
    <p>Describe your request</p>
  </div>
  <div class="request-form">
    <div class="request-infos">
      <h2><strong>Request for</strong> <%= @family.family_name %> family</h2>
      <h2><strong>Activity type:</strong> <%= @booking.category  %></h2>
      <h2><strong><%= @booking.category %> date:</strong> <%= @booking.start_date.strftime("%Y/%m/%d - %I:%M%p")  %></h2>
      <%= simple_form_for @booking do |f| %>
        <%= f.input :description, :as => :text %>
        <%= f.association :children, as: :check_boxes, collection: @children, required: true %>
        <%= f.submit :"Confirm your request", class: 'submit-button'%>
      <% end %>
    </div>
  </div>
</div>
