<div class="page-container-dashboard">
  <div class="container-family-dashboard">
    <div class="family-photo-and-name">
      <%= cl_image_tag @family.family_photo.key, class: "family-photo", crop: :fill %>
      <div class="family-edit">
        <h2><%= @family.family_name %></h2>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag "bebay_edit_btn.svg", class: "edit-family-btn" %>
        <% end %>
      </div>
    </div>
  <div class="separator"></div>
    <div class="container-family-dashboard-children">
      <% @children.each do |child| %>
        <% if child.child_photo.present? %>
          <div class="child-mini">
            <%= cl_image_tag child.child_photo.key, class: "avatar" %>
            <h5><%= child.name.capitalize %></h5>
          </div>
        <% end %>
      <% end %>
      <div class="child-add">
        <a href="#" id="add-child-button">
          <i class="fa-solid fa-circle-plus fa-lg" style="color: #F4F4F4;"></i>
        </a>
      </div>
    </div>
    <div class="separator"></div>
    <div class="container-family-dashboard-description">
      <p><%= current_user.presentation %></p>
    </div>
  </div>
    <div class="big-container-dashboard">
      <div class="dashboard">
        <div class="requesthistory-container">
        <div class="title-requests-availabilities">
          <h3>Requests</h3>
        </div>
        <div class="requests">
          <ul>
          <% if @my_bookings.empty? || @my_bookings.all? {|booking| booking.status == "Confirmed"}%>
            <p class="empty-subsection-placeholder"> No pending requests !</p>
          <% end %>
          <% @my_bookings.each do |booking| %>
            <% if booking.status != "Confirmed" %>
              <li class="request-card-dashboard">
              <% if booking.welcome_family_id == current_user.id %>
                <%= link_to booking_validate_path(booking), data: {turbo_method: "patch", turbo_confirm: "Are you sure?"}, style: 'text-decoration:none;' do%>
                  <i class="fa-solid fa-check"></i>
                <% end %>
                <%= link_to booking_path(booking), data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} do%>
                  <i class="fa-solid fa-x"></i>
                <% end %>
              <% end %>
              <h5>
                From: <%= User.find(booking.user_id).family_name.capitalize %>
              </h5>
              <h5>
                To: <%= User.find(booking.welcome_family_id).family_name.capitalize %>
              </h5>
              <p>Comment:<%= booking.description %></p>
                Start date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %>
              <br>
              <% booking.children.each do |child| %>
              <%= cl_image_tag child.child_photo.key, class: "avatar" %>
                <%= child.name.capitalize %>
              <% end %>
              </li>
            <% end %>
          <% end %>
          </ul>
        </div>
        <%# <h4>History</h4>
          <div class="history">
            <ul>
              <li>History 1</li>
              <li>History 2</li>
            </ul>
          </div> %>
        <div class="title-requests-availabilities">
          <h3>Availabilities</h3>
            <div class="availabilities-edit-button">
              <a href="#" id="editAvailabilityButton">
                <i id="add-button-icon" class="fa-solid fa-circle-plus fa-lg" style="color: #0c0000;"></i>
              </a>
            </div>
        </div>
          <div class="availabilities">
            <ul>
              <% @availabilities.each do |availability| %>
              <div class="availability-design-line">
                <li><%= availability.start_date.strftime("%Y/%m/%d - %I:%M%p") %> ► <%= availability.end_date.strftime("%Y/%m/%d - %I:%M%p") %>
                  <%= link_to available_date_path(availability), data: {turbo_method: "delete"}, turbo_confirm: "Are you sure?" do %>
                  <i class="fa-solid fa-x" style="color: #040419;"></i>
                  <% end %>
                </li>
              </div>
              <% end %>
            </ul>
           </div>
        </div>
        <div class="bookingsavailabilities-container">
          <div class="bebaysit-title">
            <h3>They bebaysit for me</h3>
          </div>
          <div class="requests">
            <ul>
              <% if @bookings.where(user_id: current_user.id, status: "Confirmed").any? %>
                <% @my_bookings.each do |booking| %>
                <% if booking.user_id == current_user.id && booking.status == "Confirmed" %>
                  <li class="request-card-dashboard">
                    <h5>Family: <%= User.find(booking.welcome_family_id).family_name %></h5>
                    <p>Date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %></p>
                    <% booking.children.each do |child| %>
                      <%= cl_image_tag child.child_photo.key, class: "avatar" %>
                      <%= child.name.capitalize %>
                    <% end %>
                  </li>
              <% end %>
              <% end %>
              <% else %>
              <p class="empty-subsection-placeholder"> No scheduled bebaysittings </p>
              <% end %>
            </ul>
          </div>
          <%# <h4>I babysit for them</h4>
          <div class="bookings-for-them">
            <ul>
              <li>Booking 1</li>
              <li>Booking 2</li>
            </ul>
          </div> %>
          <div class="bebaysit-title">
            <h3>I bebaysit for them</h3>
          </div>
          <div class="requests">
            <ul>
            <% if @bookings.where(welcome_family_id: current_user.id).any? %>
              <% @bookings.each do |booking|%>
                <% if booking.welcome_family_id == current_user.id && booking.status == "Confirmed" %>
                  <li class="request-card-dashboard">
                    <h5>
                      Family: <%= booking.user.family_name %>
                    </h5>
                    <br>
                      Start date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %>
                    <br>
                    <% booking.children.each do |child| %>
                      <%= cl_image_tag child.child_photo.key, class: "avatar" %>
                      <%= child.name.capitalize %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
                <% else %>
                  <p class="empty-subsection-placeholder"> No scheduled bebaysittings </p>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Modal Child Registration Structure -->
<div id="childRegistrationModal" class="modal">
  <div id="modal-content-childnew">
    <span class="close-button">&times;</span>
    <h2>Add a new child to your Family</h2>
    <%= simple_form_for @child do |f| %>
      <%= f.input :name, input_html: { placeholder: "ex: Tom" }, label: "First name"%>
      <%= f.input :gender, collection: [['Male', 'Male'], ['Female', 'Female'], ["Don't want to specify", "Don't want to specify"]], include_blank: false, prompt: "Select gender" %>
      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:day, :month, :year], label: "Select Birthday" %>
      <%= f.input :child_comment, input_html: { maxlength: 255, placeholder: "ex: Personality, allergies, etc.)" }, label: "Add description" %>
      <%= f.input :child_photo, as: :file, input_html: { placeholder: "Upload photo" } %>
      <%= f.submit 'Save and register another child', class: "form-button-child" %>
      <%= f.submit 'Save and checkout', class: "form-button-child" %>
    <% end %>
  </div>
</div>

<!-- Modal Availability Structure -->
  <div id="availabilityModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
        <h2>Add your availabilities</h2>
            <%= simple_form_for @available_date do |f| %>
              <%= f.select :category, [['Babysitting'],['Pick up at school']], {}, class: "form-field" %>
              <%= f.text_field :start_date, required: true, placeholder: "Pick start date & time", class: "form-field", data: {controller: "datepicker"} %>
              <%= f.text_field :end_date, required: true, placeholder: "Pick end date & time", class: "form-field", data: {controller: "datepicker"} %>
              <%= f.submit value: "Add availability", class: "form-button" %>
            <% end %>
      </div>
    </div>
  </div>

<script>
// Availability Modal
var availabilityModal = document.getElementById("availabilityModal");
var availabilityBtn = document.querySelector(".availabilities-edit-button");
var availabilityClose = document.getElementsByClassName("close-button")[0];

availabilityBtn.onclick = function(event) {
  event.preventDefault();
  availabilityModal.style.display = "block";
}

availabilityClose.onclick = function() {
  availabilityModal.style.display = "none";
}

// Child Registration Modal
var childModal = document.getElementById("childRegistrationModal");
var childBtn = document.getElementById("add-child-button");
var childClose = document.querySelector("#childRegistrationModal .close-button");

childBtn.onclick = function(event) {
  event.preventDefault();
  childModal.style.display = "block";
}

childClose.onclick = function() {
  childModal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == availabilityModal) {
    availabilityModal.style.display = "none";
  } else if (event.target == childModal) {
    childModal.style.display = "none";
  }
}
</script>
