<div class="page-container-dashboard">
  <div class="container-family-dashboard">
    <div>
      <%= cl_image_tag @family.family_photo.key, class: "family-photo", crop: :fill %>
      <div class="family-edit">
        <h2><%= @family.family_name %></h2>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag "bebay_edit_btn.svg", class: "edit-family-btn" %>
        <% end %>
      </div>
    </div>
  <div class="separator"></div>
    <div class="container-family-dashboard-children">
      <% @children.each do |child| %>
        <% if child.child_photo.present? %>
          <div class="child-mini">
            <%= cl_image_tag child.child_photo.key, class: "avatar" %>
            <h5><%= child.name %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="separator"></div>
    <div class="container-family-dashboard-description">
      <p><%= current_user.presentation %></p>
    </div>
  </div>
    <div class="big-container-dashboard">
      <div class="dashboard">
        <div class="requesthistory-container">
        <div class="title-requests-availabilities">
          <h3>Requests</h3>
        </div>
        <div class="requests">
          <ul>
          <% if @bookings.any? %>
          <% @bookings.each do |booking|%>
            <li class="request-card-dashboard">
            <% if booking.welcome_family_id == current_user.id %>
            <%= link_to booking_validate_path(booking), data: {turbo_method: "patch", turbo_confirm: "Are you sure?"} do%>
              <i class="fa-solid fa-check"></i>
            <% end %>
            <%= link_to booking_deny_path(booking), data: {turbo_method: "patch", turbo_confirm: "Are you sure?"} do%>
              <i class="fa-solid fa-x"></i>
            <% end %>
            <% end %>
              <h5>
                Family: <%= booking.user.family_name %>
              </h5>
              <p>Comment:<%= booking.description %></p>
                Start date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %>
              <br>
              <% booking.children.each do |child| %>
                <%= child.name %>
              <% end %>
            </li>
          <% end %>
          <% else %>
          <p>hello mec</p>
          <% end %>
          </ul>
        </div>
        <%# <h4>History</h4>
          <div class="history">
            <ul>
              <li>History 1</li>
              <li>History 2</li>
            </ul>
          </div> %>
        <div class="title-requests-availabilities">
          <h3>Availabilities</h3>
        </div>
          <div class="availabilities">
            <ul>
              <% @availabilities.each do |availability| %>
              <div class="availability-design-line">
                <li><%= availability.start_date.strftime("%Y/%m/%d") %> - <%= availability.end_date.strftime("%Y/%m/%d") %></li>
              </div>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="bookingsavailabilities-container">
          <div class="bebaysit-title">
            <h3>They bebaysit for me</h3>
          </div>
          <div class="bookings-for-me">
            <ul>
              <% if @bookings.where(user_id: current_user.id).any? %>
              <% @my_bookings.each do |booking| %>
              <% if booking.user_id == current_user.id %>
                <li>
                  <h5>Family: <%= booking.user.family_name %></h5>
                  <p>Date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %></p>
                </li>
                <% end %>
              <% end %>
              <% else %>
              <p>hellooo</p>
              <% end %>
            </ul>
          </div>
          <%# <h4>I babysit for them</h4>
          <div class="bookings-for-them">
            <ul>
              <li>Booking 1</li>
              <li>Booking 2</li>
            </ul>
          </div> %>
          <div class="bebaysit-title">
            <h3>I bebaysit for them</h3>
          </div>
          <div class="requests">
            <ul>
              <% if @bookings.where(welcome_family_id: current_user.id).any? %>
                <% @bookings.each do |booking|%>
                  <% if booking.welcome_family_id ==  current_user.id && booking.status == "Confirmed" %>
                  <li class="request-card-dashboard">
                    <h5>
                      Family: <%= booking.user.family_name %>
                    </h5>
                    <br>
                      Start date: <%= booking.start_date.strftime("%Y/%m/%d - %I:%M%p") %>
                    <br>
                    <% booking.children.each do |child| %>
                      <%= child.name %>
                    <% end %>
                  </li>
                  <% end %>
                <% end %>
                <% else %>
                <p>saluuuuuut</p>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
