<div class="page-container-dashboard">
  <div class="container-family-dashboard">
    <div class="family-photo-and-name">
      <%= cl_image_tag @family.family_photo.key, class: "family-photo", crop: :fill %>
      <div class="family-edit">
        <h2><%= @family.family_name %></h2>
        <%= link_to edit_user_registration_path do %>
          <%= image_tag "bebay_edit_btn.svg", class: "edit-family-btn" %>
        <% end %>
      </div>
    </div>
  <div class="separator"></div>
    <div class="container-family-dashboard-children">
      <% @children.each do |child| %>
        <% if child.child_photo.present? %>
          <div class="child-mini">
            <%= cl_image_tag child.child_photo.key, class: "avatar" %>
            <h5><%= child.name.capitalize %></h5>
          </div>
        <% end %>
      <% end %>
      <div class="child-mini">
        <a href="#" id="add-child-button">
          <i class="fa-solid fa-circle-plus fa-lg" style="color: #F4F4F4;"></i>
        </a>
        <h5>Add child</h5>
      </div>
    </div>
    <div class="separator"></div>
    <div class="availabilities-section" data-controller="pop-up">
    <div class="title-requests-availabilities-2">
            <div class="pr-2 availabilities-edit-button">
              <a href="#" id="editAvailabilityButton">
                <i id="add-button-icon" class="fa-solid fa-circle-plus fa-lg" style="color: #0c0000;"></i>
              </a>
            </div>
          <h3 class="title-availabilities" data-action="click->pop-up#reveal">Availabilities</h3>
        <i class="fa-solid fa-arrow-down arrow" data-action="click->pop-up#reveal"></i>
        </div>
                            <div class="availabilities-subsection d-none" data-pop-up-target="availabilities">
                              <ul>
                                <% @availabilities.each do |availability| %>
                                <div class="availability-design-line">
                                  <li><%= availability.start_date.strftime("%Y/%m/%d - %I:%M%p") %> ► <%= availability.end_date.strftime("%Y/%m/%d - %I:%M%p") %>
                                    <%= link_to available_date_path(availability), data: {turbo_method: "delete"}, turbo_confirm: "Are you sure?" do %>
                                    <i class="fa-solid fa-x" style="color: #040419;"></i>
                                    <% end %>
                                  </li>
                                </div>
                                <% end %>
                              </ul>
                              </div>
        </div>
    </div>
    <div class="big-container-dashboard">
      <div class="dashboard">
        <div class="requesthistory-container">
        <div class="title-requests-availabilities">
          <h3>Requests received</h3>
        </div>
        <div class="requests">
          <ul>
          <% if @received_bookings.empty? || @received_bookings.all? {|booking| booking.status == "Confirmed"}%>
            <p class="empty-subsection-placeholder"> No pending requests !</p>
          <% end %>
          <% @received_bookings.each do |booking| %>
            <% if booking.status != "Confirmed" %>
              <%= link_to booking_path(booking) do%>
              <li class="request-card-dashboard">
              <div class="first-line-li">
                <h5>
                  From: <%= User.find(booking.user_id).family_name.capitalize %>
                </h5>
                <div>
                <%= link_to booking_validate_path(booking), data: {turbo_method: "patch", turbo_confirm: "Are you sure?"}, style: 'text-decoration:none;' do%>
                  <i class="fa-solid fa-check confirmed-icon-dashboard"></i>
                <% end %>
                <%= link_to booking_path(booking), data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} do%>
                  <i class="fa-solid fa-x deleted-icon-dashboard"></i>
                <% end %>
                </div>
                </div>
                  <p class="dashboard-date">Date: <%= booking.start_date.strftime("%Y/%m/%d") %></p>
              </li>
              <% end %>
            <% end %>
          <% end %>
          </ul>
        </div>
        <div class="title-requests-availabilities">
          <h3>Requests sent</h3>
        </div>
        <div class="requests">
          <ul>
          <% if @sent_bookings.empty? || @sent_bookings.all? {|booking| booking.status == "Confirmed"}%>
            <p class="empty-subsection-placeholder"> No pending requests !</p>
          <% end %>
          <% @sent_bookings.each do |booking| %>
            <% if booking.status != "Confirmed" %>
              <%= link_to booking_path(booking), style: "text-decoration:none;" do%>
              <li class="request-card-dashboard">
                <h5>
                  To: <%= User.find(booking.welcome_family_id).family_name.capitalize %>
                </h5>
                  <p class="dashboard-date">Date: <%= booking.start_date.strftime("%Y/%m/%d") %></p>
              </li>
              <% end %>
            <% end %>
          <% end %>
          </ul>
        </div>
        </div>
        <div class="bookingsavailabilities-container">
          <div class="bebaysit-title">
            <h3>I bebaysit for them</h3>
          </div>
          <div class="requests">
            <ul>
            <% if @received_bookings.empty? || @received_bookings.all? {|booking| booking.status != "Confirmed"}%>
                <p class="empty-subsection-placeholder"> No scheduled bebaysittings</p>
              <% else %>
                <% @received_bookings.each do |booking|%>
                  <%= link_to booking_path(booking), style: "text-decoration:none;" do%>
                  <li class="request-card-dashboard">
                    <h5>
                      <%= booking.user.family_name %>
                    </h5>
                      <p class="dashboard-date">Date: <%= booking.start_date.strftime("%Y/%m/%d") %></p>
                    <% booking.children.each do |child| %>
                      <%= cl_image_tag child.child_photo.key, class: "avatar" %>
                      <%= child.name.capitalize %>
                    <% end %>
                  </li>
                  <% end %>
                  <% end %>
                <% end %>
            </ul>
          </div>
          <div class="bebaysit-title">
            <h3>They bebaysit for me</h3>
          </div>
          <div class="requests">
            <ul>
              <% if @sent_bookings.empty? || @sent_bookings.all? {|booking| booking.status != "Confirmed"}%>
                <p class="empty-subsection-placeholder"> No scheduled bebaysittings</p>
              <% else %>
                <% @sent_bookings.each do |booking| %>
                  <%= link_to booking_path(booking), style: "text-decoration:none;" do%>
                  <li class="request-card-dashboard">
                    <h5><%= User.find(booking.welcome_family_id).family_name %></h5>
                    <p class="dashboard-date">Date: <%= booking.start_date.strftime("%Y/%m/%d") %></p>
                  </li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Modal Child Registration Structure -->
<div id="childRegistrationModal" class="modal">
  <div id="modal-content-childnew">
    <span class="close-button">&times;</span>
    <h1>Add a new child to your Family</h1>
    <%= simple_form_for @child do |f| %>
      <div class="inline-fields">
        <%= f.input :name, input_html: { placeholder: "ex: Tom" }, label: "First name" %>
        <%= f.input :gender, collection: [['Male', 'Male'], ['Female', 'Female'], ["Don't want to specify", "Don't want to specify"]], include_blank: false, prompt: "Select gender" %>
      </div>
      <%= f.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year, order: [:day, :month, :year], label: "Select Birthday" %>
      <%= f.input :child_comment, input_html: { maxlength: 255, placeholder: "ex: Personality, allergies, etc." }, label: "Add description" %>
      <%= f.input :child_photo, as: :file, input_html: { placeholder: "Upload photo" } %>
      <%= f.submit 'Save and register another child', class: "form-button-child" %>
      <%= f.submit 'Save and checkout', class: "form-button-child" %>
    <% end %>
  </div>
</div>

<!-- Modal Availability Structure -->
  <div id="availabilityModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
        <h2>Add your availabilities</h2>
            <%= simple_form_for @available_date do |f| %>
              <%= f.select :category, [['Babysitting'],['Pick up at school']], {}, class: "form-field" %>
              <%= f.text_field :start_date, required: true, placeholder: "Pick start date & time", class: "form-field", data: {controller: "datepicker"} %>
              <%= f.text_field :end_date, required: true, placeholder: "Pick end date & time", class: "form-field", data: {controller: "datepicker"} %>
              <%= f.submit value: "Add availability", class: "form-button" %>
            <% end %>
      </div>
    </div>
  </div>

<script>
// Availability Modal
var availabilityModal = document.getElementById("availabilityModal");
var availabilityBtn = document.querySelector(".availabilities-edit-button");
var availabilityClose = document.getElementsByClassName("close-button")[0];

availabilityBtn.onclick = function(event) {
  event.preventDefault();
  availabilityModal.style.display = "block";
}

availabilityClose.onclick = function() {
  availabilityModal.style.display = "none";
}

// Child Registration Modal
var childModal = document.getElementById("childRegistrationModal");
var childBtn = document.getElementById("add-child-button");
var childClose = document.querySelector("#childRegistrationModal .close-button");

childBtn.onclick = function(event) {
  event.preventDefault();
  childModal.style.display = "block";
}

childClose.onclick = function() {
  childModal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == availabilityModal) {
    availabilityModal.style.display = "none";
  } else if (event.target == childModal) {
    childModal.style.display = "none";
  }
}
</script>
