<div class="home-big-container">
<div class="home-container">
  <div class="home-title">
    <h1>Welcome to Bebay!</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <p><%= image_tag "blue_star.svg"%>
    Your <span id="color-span">childcare</span> platform</p>
  </div>

  <div class="home-form" data-controller="search">
    <%= form_with url: families_path, method: :get do |f| %>
        <%= f.select :activity, [['Babysitting'],['Pick up at school']], {}, class: "form-field" %>
        <%= f.text_field :location, required: true, placeholder: "Enter your address", class: "form-field" %>
        <%= f.text_field :date, required: true, placeholder: "Pick a date & time", class: "form-field",
            data: {
            controller: "datepicker"}
        %>
      <%= f.submit value: "Search", class: "form-button" %>
    <% end %>
    <%# <button class="button-primary">Search</button> %>
  </div>

  <%# <div class="home-cards-container">
    <div class="home-card">
      <h2>Evening babysitting</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, </p>
    </div>
    <div class="home-card">
      <h2>Pick up at school</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, </p>
    </div>
    <div class="home-card">
      <h2>Child day care</h2>
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, </p>
    </div>
  </div> %>
</div>
</div>

<script>
// Wrap every letter in a span
var textWrapper = document.querySelector('.ml3');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 150 * (i+1)
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
</script>
