<%# <div class="request-container">
    <h1>Add your availabilities</h1>
  <div class="request-form">
    <div class="request-infos">
      <%= simple_form_for @available_date do |f| %>
          <%# <%= f.select :category, [['Babysitting'],['Pick up at school']], {}, class: "form-field" %>
          <%# <%= f.text_field :start_date, required: true, placeholder: "Pick start date & time", class: "form-field", data: {controller: "datepicker"}%>
          <%# <%= f.text_field :end_date, required: true, placeholder: "Pick end date & time", class: "form-field", data: {controller: "datepicker"}%>
        <%# <%= f.submit value: "Add availability", class: "form-button" %> %> %>
      <%# <% end %>
    <%# </div>
  </div>
</div> %>
